<h1>Home Page</h1>
<section id="YoutubePlayer">
            <div class="row-cols-1">
                <div class="col my-2 py-2 d-flex justify-content-center">
                    <article class="container border border-1">
                        <header class="text-center">
                            <h3>Como versionar códigos utilizando gitFlow</h3>
                        </header>
                        <p>
                            O Gitflow é um fluxo de trabalho legado do Git que no começo era uma estratégia inovadora e revolucionária para gerenciar ramificações do Git. O Gitflow perdeu popularidade para fluxos de trabalho baseados em troncos, que hoje são considerados práticas
                            recomendadas para o desenvolvimento moderno e contínuo de softwares e práticas de DevOps.
                        </p>
                    </article>
                </div>
            </div>
            <div class="row-cols-1">
                <div class="col my-2 py-3 d-flex justify-content-center">
                    <div id="video">
                    </div>
                </div>

            </div>
            <div class="row-cols-1 d-flex justify-content-center">
                <div class="bg-dark text-light col-3 my-2 py-3 rounded-3 text-center align-content-center" id="visualizado"></div>
            </div>
        </section>
{{#section 'scripts'}}
    <script src="scripts/ytPlayer.js"></script>
    <script src="scripts/hidePlayer.js"></script>
{{/section}}